@{
    ViewBag.Title = "Conta bloqueada";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title.</h1>
    <h2 class="text-danger">Esta conta foi bloqueada, tente novamente em alguns minutos.</h2>
</hgroup>
